@model ABCofRealEstate.Services.Models.Areas.AreaDetailResponse
@{
    ViewBag.Title = "Area";
}
<p>
    @foreach (var image in Model.FullPathsImage)
    {
        <img src="@image" height="150"/>
    }
</p>
<p>Описание: @Model.Description</p>
<p>Цена: @Model.Price</p>
<p>Тип продажи: @Model.TypeSale</p>
<p>Район: @Model.District</p>
<p>Населённый пункт: @Model.Locality</p>
<p>Улица: @Model.Street</p>
<p>Дата опубликование объекта: @Model.DateTimePublished</p>
<p>Площадь участка: @Model.LandArea</p>
<p>Идентификатор объекта: @Model.Id</p>
@if (Model.Employee != null)
{
    <hr>
    @await Html.PartialAsync("~/Views/ABCofRealEstate/Team/Get.cshtml", Model.Employee)
}