@using ABCofRealEstate.Data.Enums
@model ABCofRealEstate.Services.Models.Apartments.ApartmentDetailResponse
@{
    ViewBag.Title = "Apartment";
}
<form method="Update" action="Update">
    <p>
        Price: <input type="number" name="Price" value="@Model.Price">
    </p>
    <p>
        District: <input type="number" name="District" value="@Model.District">
    </p>
    <p>
        Employee: <input type="number" name="EmployeeId" value="@Model.Employee?.Id">
    </p>
    <p>
        Locality: <select name="Locality">
            @foreach (var enumLocality in Enum.GetNames(typeof(EnumLocality)))
            {
                @if (enumLocality == Model.Locality.ToString())
                {
                    <option value="@enumLocality" selected>@enumLocality</option> 
                    continue;
                }
                <option value="@enumLocality">@enumLocality</option> 
            }
        </select>
    </p>
    <p>
         @Model.Street
    </p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <button type="submit">Accept</button>
</form>